<br>
<br>
<br>

<h1>Set up a new Clent</h1>
 <div class="well well-sm">
<p>Use the form below to create a new Client. Once you have a Client set up in TimeQlip, you can associate Projects, Team Members and Time Sheets in order to effectively track projects, time, effort and expense. </p>


</div>
<br>
<%= render 'form' %>

<%= link_to 'Back', clients_path %>
